<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.dnshero">

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Start activity -->
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="zone.vision" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Domain (all info) activity -->
        <activity
            android:name=".DomainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Logs activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:parentActivityName=".PreferencesActivity" />

        <!-- Preferences activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:parentActivityName=".PreferencesActivity" />

        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".DomainActivity" />

        <!-- Logs provider -->
        <provider
            android:name="com.gianlu.commonutils.LogsProvider"
            android:authorities="com.gianlu.dnshero.logs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logs_paths" />
        </provider>
    </application>
</manifest>